/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .product-container {
 	border-radius: 10px;
 	background-image: linear-gradient(360deg, #ECE9E6, #FFFFFF); 
 	padding: 9px;
 	margin: 9px;
 	box-shadow: 5px 5px 5px #BBBBBB;
 	text-align:center;
 }

::-webkit-scrollbar { 
    display: none; 
}

 .description-container {
 	text-align: center;
 }

 .product-image-container {
 	max-width: auto;
    height: 100%;

 	border-radius: 10px;
 	background-image: linear-gradient(360deg, #ECE9E6, #FFFFFF); 
 	box-shadow: 5px 5px 5px #BBBBBB;
 	margin: 10px;
 	padding: 10px;
 	text-align:center;
 	height: 750px;
 	overflow: scroll;
 }

.product-image{
	width:100%;
    height: 230px;
 }

 .product-description-text {
 	border-radius: 10px;
 	background-image: linear-gradient(360deg, #ECE9E6, #FFFFFF); 
 	padding: 9px;
 	margin: 9px;
 	box-shadow: 5px 5px 5px #BBBBBB;
 	text-align:center;

 	margin: 10px;
 	padding-left: 10px;
 	text-align:left;
 	height: 750px;
 	overflow-y: scroll;
 }

 .product-text{
 	padding: 5px;
 	margin: 5px;
 	height: 250px;
 	overflow-y: scroll;
 }